@using DOMAIN.Model

@model List<ProdutoModel>
@{
	ViewData["Title"] = "Lista de produtos";
}

@if (TempData["Sucesso"] != null)
{
	<p class="alert alert-success">@TempData["Sucesso"]</p>
}
@if (TempData["Erro"] != null)
{
	<p class="alert alert-danger">@TempData["Erro"]</p>
}

<div class="Titulo d-flex justify-content-md-between m-3">

	<h1>Lista de produtos</h1>

	<a class="CadastrarProdutos btn btn-primary fw-bold" asp-controller="Produto" asp-action="UpsertProduto">Cadastrar Produto</a>

</div>


<table class="table">
	<thead>
		<tr class="table table-dark">
			<th scope="col">Codigo</th>
			<th scope="col">Nome</th>
			<th scope="col">Valor</th>
			<th scope="col">Disponibilidade</th>
			<th scope="col">Opções</th>
		</tr>
	</thead>
	@foreach (var p in Model)
	{
		<tbody>
			<tr>
				<th>@p.CodigoProduto</th>
				<td>@p.NomeProduto</td>
				<td>@p.ValorProduto R$</td>
				<td>@p.Disponibilidade</td>
				<td>
					<a class="btn btn-primary fw-bold" asp-controller="Produto" asp-action="UpsertProduto" asp-route-codigo="@p.CodigoProduto">Editar</a>
					<a class="btn btn-danger fw-bold" asp-controller="Produto" asp-action="DeletarProduto" asp-route-codigo="@p.CodigoProduto">Deletar</a>
				</td>
			</tr>

		</tbody>
	}
</table>
