@using DOMAIN.Enum
@using DOMAIN.Model

@model ProdutoModel
@{
	ViewData["Title"] = "Cadastro de produtos";
}

@if (TempData["Sucesso"] != null)
{
	<p class="alert alert-success">@TempData["Sucesso"]</p>
}
@if (TempData["Erro"] != null)
{
	<p class="alert alert-danger">@TempData["Erro"]</p>
}

<div class="Titulo d-flex justify-content-center">
	<h1> @(Model.CodigoProduto == 0 ? "Cadastro de Produto" : "Edição de Produto") </h1>
</div>

<form asp-controller="Produto" asp-action="@(Model.CodigoProduto == 0 ? "CadastrarProduto" : "EditarProduto")" method="post">
	<input type="hidden" asp-for="CodigoProduto" />
	<div class="Produtos">

		<div class="col">
			<label asp-for="NomeProduto">Nome Produto</label>
			<input asp-for="NomeProduto" type="text" class="form-control" placeholder="Nome do produto">
		</div>
		<div class="col">
			<label asp-for="ValorProduto">Valor do Produto</label>
			<input asp-for="ValorProduto" type="number" class="form-control" placeholder="Valor do produto" step="0.01">
		</div>
		<div class="col">
			<label asp-for="Disponibilidade">Disponibilidade</label>

			<select asp-for="Disponibilidade" class="form-control">
				<option disabled selected style="color: gray;">Selecione</option>
				@foreach (DisponibilidadeEnum disponibilidade in Enum.GetValues(typeof(DisponibilidadeEnum)))
				{
					<option value="@disponibilidade">@disponibilidade</option>
				}
			</select>
		</div>
		<div id="Botoes" class="m-3 d-flex flex-row justify-content-center gap-3">

			<button type="submit" class="btn btn-primary" style="width:250px">@(Model.CodigoProduto == 0 ? "Cadastrar" : "Editar")</button>

			<a class="btn btn-success" style="width:250px" asp-controller="Produto" asp-action="ListarProdutos" method="get">Voltar</a>
		</div>

	</div>
</form>
